{% extends 'frontbase.html.twig' %}
{% block title %}Referanslar - {{ data[0].title }}{% endblock %}
{% block keywords %}{{ data[0].keywords }}{% endblock %}
{% block description %}{{ data[0].description }}{% endblock %}
{% block header %} {% include ('home/_header.html.twig') %}{% endblock %}
{% block content %}
<!--Slider Divleri-->
<div class="container">
    <div class="shoes-grid">
        <div class="wrap-in">
            <div>
            </div>
        </div>
        <!-------------------->

        <div class="reservation_top">
                <h1>Referanslarımız</h1>
                <br>
                <p>
                    {{ data[0].referances|raw }}
                </p>
            </div>

        <div class="clearfix"> </div>
    </div>

{% endblock %}
{% block sidebar %} {% include ('home/_sidebar.html.twig') %}{% endblock %}




